<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href='../css/style.css'>
    <title>Create Product</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row"><h2>Create product</h2></div>
        <hr>

            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-4" for="name">Name:</label>
                    </div>
                    <div class="row">
                        <input class="col-md-4" type="text" id="name" name="name">
                    </div>
                    <div class="row">
                        <label class="col-md-4" for="descr">Description:</label>
                    </div>
                    <div class="row">
                        <textarea class="col-md-4" type="text" id="descr" name="description">
                            </textarea>
                    </div>
                    <div class="row">
                        <label class="col-md-4" for="type">Type:</label>
                    </div>
                    <div class="row">
                        <select class="col-md-4" id="type" name="type">
                            <option name="type" value="type">Choose type...</option>
                            <option name="domestic" value="domestic">Domestic</option>
                            <option name="cosmetic" value="cosmetic">Cosmetic</option>
                            <option name="food" value="food">Food</option>
                            <option name="health" value="health">Health</option>
                            <option name="other" value="other">Other</option>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Create product</button>
                    </div>
                    <hr>
                </div>
            </form>
        <hr>
        <br/>
        <div class="row">
       <a href="/">Back Home</a></div>
    </div>
</div>
</div>
</body>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>