<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href='../css/style.css'>
    <title>Chushka</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row"><h2>Welcome to Chushka application</h2></div>
        <hr>
        <div class="row"><h5>Check our products below!</h5></div>
        <br/>
        <div class="row">
            <div class="col-md-2">
            {{products}}
            </div>
        </div>
        <div class="row"><a class="btn btn-primary" href="/products/create">Create product</a></div>
    </div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>